<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>Open Jobs</title>
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    	<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    	<link href="../media/jobs/css/index-main.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container">
 			<ul class="nav navbar-nav">
 				<li><a href="/admin">Admin</a></li>
 				<li><a href="/jobs/add_job">Add Job</a></li>
			</ul>
  			</div>
		</nav>
		<div class='container main-content'>
		<!-- <h1> Open Jobs:</h1> -->
		{% if open_jobs %}	
				{% for job in open_jobs %}
				<div class="row">
					<div class="col-lg-3 job">
					<h3>{{ job.address }}</h3>
						<p>Date Due: {{ job.due_date }}</p>
						<p>Price: ${{ job.price }}</p>
						<p><a class="btn btn-info" href="{{ job.slug }}">Details</a></p>
					</div>
				{% endfor %}
		
					</div>
			{% else %}
			<strong>There are no open jobs.</strong>
		{% endif %}
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    	<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>