<!DOCTYPE html>
<html>
	<head>
		<title>Job Detail - {{ job_address }}</title>
	</head>

	<body>
		<h3>Job Detail: </h3> <h1>{{ job_address }}</h1>
		Days left until due: <strong>{{ dt }}</strong> 
			<ul>
				<li>Days left until due: <strong>{{ dt }}</strong> </li>
				<li><b>Date due: </b>{{ job_due_date }}</li>
				<li><b>Price: </b>${{ job_price }}</li>
				<li><b>Issues: </b>{{ issues_count }}</li>
				<br>
				<ul>
					{% for issue in issues_list %}
					<li>{{ issue.date}} - {{ issue.text }} - <b><i>{{ issue.is_open }}</i></b></li>
					{% endfor %}
				</ul>
				<br>
				<b>Comments:</b>
				<ul>
				<br>
					{% for comment in comments %}
					<li><i>{{ comment.date }}</i> : {{ comment.text }}</li>
					<br>
					{% endfor %}
				</ul>
	</body>
</html>