<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Job Detail - {{ job_address }}</title>
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    	<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    	<link href="../../media/jobs/css/detail-main.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container">
 			<ul class="nav navbar-nav">
 				<li><a href="/jobs">Back to Dashboard</a></li>
 				<li><a href="/admin">Admin</a></li>
			</ul>
  			</div>
		</nav>

		 <div class="jumbotron" style="background: url({{ job.pic.url }}) center center;
			  background-size: cover;
			  height: 100%;
			  width: 100%;
			  min-height: 500px;">
			<div class="window">
				  <h1 id='address' class='jumbotron-info'>{{ job_address }}</h1>
				  <h3 id='price' class="jumbotron-info">Price: $ {% load humanize %}{{ job.price|intcomma }}</h3>
				  <h3 id='due-date' class="jumbotron-info">Due: {{ job.due_date|date:"D d M" }}</h3>
				  <h3 id='status' class="jumbotron-info"></h3>
				  <h3 id='flooring-status' class="jumbotron-info">Flooring: 
				  	{% if job.flooring %}
				  		Yes
			  		{% else %}
			  			No
		  			{% endif %}
				  	</h3>
			  	{% if job.flooring %}
			  		<h3 id='flooring-date' class="jumbotron-info">Install Date:
					{% if job.flooring_date %}
			  			{{ job.flooring_date|date:"D d M" }}
					{% else %}
						<a href="mailto: MJanke@preferredbrandscorp.com?subject=Schedule:{{ job.address }}">Schedule</a>
		  			</h3>
		  			{% endif %}
			  	{% endif %}
			  	{% if job.contact %}
			  	<div class="agent-info">
					<span class="agent">{{ job.contact.name }}</span> | 
					<span class="agent"><a href="mailto: {{ job.contact.email }}?subject={{ job.address }}">{{ job.contact.email }}</a></span> | 
					<span class="agent">{{ job.contact.phone }}</span>
		  		</div>
		  		{% endif %}
		  		<div class="">
		  			<span class="">Customer Care</span> | 
					<span class=""><a href="mailto: customercare@charterhomealliance.com?subject={{ job.address }}">CustomerCare</a></span> | 
					<span class="">480-376-8788</span>
		  		</div>
		  		<div class="attachments">
			  		 {% if job.purchase_order %}
					  	<a href="{{ job.purchase_order.url }}" target="_blank" class="attachment po btn btn-primary">Charter PO</a>
				  	  {% endif %}
				  	  {% if job.repair_po %}
				  	  	<a href="{{ job.repair_po.url }}" target="_blank" class="attachment po btn btn-primary">Repairs PO</a>
			  	  	  {% endif %}
			  	  	 {% if job.paint_po %}
				  	  	<a href="{{ job.paint_po.url }}" target="_blank" class="attachment po btn btn-primary">Paint PO</a>
			  	  	  {% endif %}

		  	  	</div>	
		  	</div>
		 	
		 </div>

			<div class="container">
			<div class="row second-row">
			<div class="col-md-6 job-log">
				<b class="header">Log</b>
				<div class="comments">
					{% for comment in comments %}
					<div class="comment">
						<div class="time-stamp">{{ comment.date }}</div>
						<div class="comment-text">{{ comment.text }}</div>
					</div>
					{% endfor %}
				</div>
			</div>
				<div class="col-md-6 comment-box">
					<form id="comment_form" method="POST" action="/jobs/{{ slug }}/" />
						{% csrf_token %}
						<!-- {{ form }} -->
						{% for field in form %}
							{% if field.name != 'text' and field.name != 'job' %}
								{{ field.label}}
							{% endif %}
							{{ field }}
						{% endfor %}
						<br>
					<input class="btn btn-primary" type="submit" name="submit" value="Add Comment" />
					</form>
				</div>
			</div>
			</div>
					
				

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    	<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
