.top-row {
	margin-top: 3em;
}

.job-image {
	text-align: center;
}

.second-row {
	margin: 05em 0;
}

.comment {
	padding: 1em;
	margin: 0.5em;
	background-color: whitesmoke;}

.time-stamp {
	font-weight: bolder;
	font-size: 12px;
	padding-bottom: .5em
}

.comment-box {
	margin: 5em 0;

}

.comment-box .btn {
	margin: 1em;
}

.header {
	font-size: 1.7em;
}