.top-row {
	margin-top: 3em;
}

.job-image {
	text-align: center;
}

.second-row {
	margin: 05em 0;
}

.comment {
	padding: 1em;
	margin: 0.5em;
	background-color: whitesmoke;}

.time-stamp {
	font-weight: bolder;
	font-size: 12px;
	padding-bottom: .5em
}

.comment-box {
	margin: 5em 0;

}

.comment-box .btn {
	margin: 1em;
}

.header {
	font-size: 1.7em;
}

.window {
	float: right;
	background-color: rgba(0, 0, 0, 0.73);
	padding: 15px;
	margin: auto 15px auto 0;
	color: white;
}

.agent-info {
	margin-top: 20px;
}

.attachments {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.attachment {
	width: 150px;
	height: 35px;
	margin: auto;
}

.open-issues {
	text-align: left;
}