.job {
	padding: 1em;
	margin: 1em;
	border: solid 1px lightgrey;
	text-align: center;
	box-shadow: 10px 10px 10px #8d8d8d;
	min-height: 250px;
}

.top-bar {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.top-bar-unit {
	padding: 3px;

}

.client {
	color: white;
	order: 1;
	flex-grow: 2;
}

.city {
	color: white;
	order: 2;
	flex-grow: 2;
}

.phoenix {
	background-color: #A81A5B;
}

.tucson {
	background-color: #3F358C;
}

.charter {
	background-color: #4F9CD4;
}

.other-client {
	background-color: #4CAE4C;
}

.invoice-number {
	order: 3;
	flex-grow: 1;
}

.aging {
	border: none;
	order: 4;	
	flex-grow: 1;

}

.open-invoice {
	float: right;
	margin-top: 10px;
	margin-left: 13px;
	font-weight: 700;
	font-size: 1.2em;
}

.invoice-numbers {
	color: green;
}


.unpaid-invoice-row {
	display: none;
}

.open-issues {
	text-align: left;
	display: none;
}