.job {
	padding: 1em;
	margin: 1em;
	border: solid 1px lightgrey;
	text-align: center;
	box-shadow: 10px 10px 10px #8d8d8d;
	min-height: 250px;
}

.top-bar {
	overflow: hidden;
}

.top-bar-unit {
	display: inline-block;
	float: right;
	margin-left: 15px;
	border: 1px solid grey;
	padding: 3px;

}

.open-invoice {
	float: right;
	margin-top: 10px;
	margin-left: 15px;
	font-weight: 700;
	font-size: 1.2em;
}

.invoice-numbers {
	color: green;
}


.unpaid-invoice-row {
	display: none;
}